flows.json
[{"id":"b969524f.d96288","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7ccf0411.69844c","type":"mqtt in","z":"b969524f.d96288","name":"","topic":"from_a7fae6453c82abe7","qos":"2","datatype":"json","broker":"eebb100a.348438","x":150,"y":1300,"wires":[["be7502cd.49e54","80f1cb17.3964b8","d2dd1a69.29f1c8"]]},{"id":"be7502cd.49e54","type":"function","z":"b969524f.d96288","name":"gyroskop","func":"var o = msg.payload\nvar res = o.Gyroscope_G.split(\",\");\nmsg.payload = res[0];\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1260,"wires":[["48aae955.eeefe"]]},{"id":"48aae955.eeefe","type":"ui_numeric","z":"b969524f.d96288","name":"","label":"X","tooltip":"","group":"d32aa8be.6d7b","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":1,"x":650,"y":1260,"wires":[["20620745.d484e"]]},{"id":"37763dbf.dcc0d2","type":"ui_numeric","z":"b969524f.d96288","name":"","label":"Y","tooltip":"","group":"d32aa8be.6d7b","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":1,"x":650,"y":1300,"wires":[["20620745.d484e"]]},{"id":"d948d9a3.6fa02","type":"ui_numeric","z":"b969524f.d96288","name":"","label":"Z","tooltip":"","group":"d32aa8be.6d7b","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":1,"x":650,"y":1340,"wires":[["20620745.d484e"]]},{"id":"80f1cb17.3964b8","type":"function","z":"b969524f.d96288","name":"gyroskop","func":"var o = msg.payload\nvar res = o.Gyroscope_G.split(\",\");\nmsg.payload = res[1];\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1300,"wires":[["37763dbf.dcc0d2","f54db81b.625788"]]},{"id":"d2dd1a69.29f1c8","type":"function","z":"b969524f.d96288","name":"gyroskop","func":"var o = msg.payload\nvar res = o.Gyroscope_G.split(\",\");\nmsg.payload = res[2];\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1340,"wires":[["d948d9a3.6fa02"]]},{"id":"20620745.d484e","type":"function","z":"b969524f.d96288","name":"alarm","func":"if(Math.abs(msg.payload) > 100)\n{\n    msg.payload = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1300,"wires":[["1a0d4fd7.487d08","a47f8449.86cf98","5f0fb695.0c6ff8"]]},{"id":"1a0d4fd7.487d08","type":"ui_led","z":"b969524f.d96288","group":"d32aa8be.6d7b","order":3,"width":"1","height":"1","label":"","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"red","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":970,"y":1300,"wires":[],"inputLabels":["krajna hodnota"]},{"id":"a47f8449.86cf98","type":"function","z":"b969524f.d96288","name":"Cas_Alarmu","func":"if(msg.payload === true )\n{\n    var today = new Date();\n    var h = today.getHours()+2;\n    var m = today.getMinutes();\n    var s = today.getSeconds();\n    \n    msg.payload = \" \"+ h + \":\" + m + \":\" + s;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1000,"y":1240,"wires":[["d691284e.7eb508"]]},{"id":"d691284e.7eb508","type":"ui_text_input","z":"b969524f.d96288","name":"","label":"poplach nastal v čase","tooltip":"","group":"d32aa8be.6d7b","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1260,"y":1240,"wires":[[]]},{"id":"5f0fb695.0c6ff8","type":"function","z":"b969524f.d96288","name":"Cas_Alarmu_datum","func":"if(msg.payload === true )\n{\n    var today = new Date();\n    var d = today.getDate();\n    var m = today.getMonth()+1;\n    var y = today.getFullYear();\n    \n    msg.payload = \"\"+ d + \".\" + m + \".\" + y;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1020,"y":1360,"wires":[["a20de5b9.d8cdf"]]},{"id":"a20de5b9.d8cdf","type":"ui_text_input","z":"b969524f.d96288","name":"","label":"poplach nastal dňa","tooltip":"","group":"d32aa8be.6d7b","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1250,"y":1360,"wires":[[]]},{"id":"f54db81b.625788","type":"ui_chart","z":"b969524f.d96288","name":"","group":"d32aa8be.6d7b","order":6,"width":0,"height":0,"label":"graf","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"-1000","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1190,"y":1300,"wires":[[]]},{"id":"8bcd7002.011378","type":"http request","z":"b969524f.d96288","name":"access_token","method":"GET","ret":"txt","paytoqs":false,"url":"https://app.gosms.cz/oauth/v2/token?client_id=12073_59d8cgxeyrcwk80ksc0o0cwko4gokcw4w84444ooos8g8w4040&client_secret=3mq1p081pzi8gokkss844oc4s0k0sk4c884o4488cgo08wwkcs&grant_type=client_credentials","tls":"","persist":false,"proxy":"","authType":"","x":1360,"y":1180,"wires":[["b2abf368.c493f"]]},{"id":"b2abf368.c493f","type":"function","z":"b969524f.d96288","name":"Sklada_spravu","func":"p=JSON.parse(msg.payload);\n//msg.payload = p.access_token;\n\n\nmsg.payload = { \n    message: \"Alarm\", \n    recipients: \"+421911801625\", \n    channel: \"280186\"  \n};\nmsg.headers = {\n    'content-type':'application/json',\n    'Authorization':'Bearer ' + p.access_token \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":1180,"wires":[["2650f4e5.710d94"]]},{"id":"2650f4e5.710d94","type":"http request","z":"b969524f.d96288","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://app.gosms.cz/api/v1/messages","tls":"","persist":false,"proxy":"","authType":"","x":1730,"y":1180,"wires":[[]]},{"id":"7e4fac8d.8a7c1c","type":"delay","z":"b969524f.d96288","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1160,"y":1180,"wires":[["8bcd7002.011378"]]},{"id":"d924479d.549878","type":"switch","z":"b969524f.d96288","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":1180,"wires":[["7e4fac8d.8a7c1c"]]},{"id":"eebb100a.348438","type":"mqtt-broker","z":"","name":"","broker":"farmer.cloudmqtt.com","port":"13271 ","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d32aa8be.6d7b","type":"ui_group","z":"","name":"poplasne_zariadenie","tab":"ee2c3061.242d1","disp":true,"width":"27","collapse":false},{"id":"ee2c3061.242d1","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]